---
interface BlogCardProps {
    date: string;
    category: string;
    title: string;
    description: string;
    authorName: string;
    authorRole: string;
    link: string;
}

const {
    date,
    category,
    title,
    description,
    authorName,
    authorRole,
    link
} = Astro.props as BlogCardProps;
---

<article class="flex max-w-xl flex-col items-start justify-between">
    <div class="flex items-center gap-x-4 text-xs">
        <time datetime={date} class="text-neutral-500">
            {date}
        </time>
        <a href={link} class="relative z-10 rounded-full bg-neutral-50 px-3 py-1.5 font-medium text-neutral-600 hover:bg-neutral-100 border border-neutral-100">
            {category}
        </a>
    </div>
    <div class="group relative">
        <h3 class="mt-3 text-lg/6 font-semibold text-neutral-950 group-hover:text-neutral-800">
        <a href={link}>
            <span class="absolute inset-0"></span>
            {title}
        </a>
        </h3>
        <p class="prose mt-5 text-sm/6 text-neutral-600">{description}</p>
    </div>
    <div class="relative mt-5 flex items-center gap-x-4">
        <div class="text-sm/6">
            <p class="font-semibold text-neutral-900">
                <a href={link}>
                    <span class="absolute inset-0"></span>
                    {authorName}
                </a>
            </p>
            <p class="text-neutral-600">
                {authorRole}
            </p>
        </div>
    </div>
</article>