---
import Logo from '@/assets/logolema.png'
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE, navigation } from '@/const'
const currentPath = Astro.url.pathname;
---

<header>
    <nav class="bg-[#f8f8f8] text-black shadow-lg">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between items-center h-16">
                <div class="flex-shrink-0">
					<img 
						src={Logo.src}
						alt={SITE_TITLE}
						class="h-10 bg-transparent"
					/>
				</div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        {navigation.map((item) => (
                            <HeaderLink href={item.href} currentPath={currentPath} Name={item.name}>
                                {item.name}
                            </HeaderLink>
                        ))}
                    </div>
                </div>
                <div class="hidden md:block">
                    <a
                        href="/miupc"
                        class="px-4 py-2 text-sm font-medium bg-[#f1f1f1] text-gray-700 hover:bg-[#DC0B22] hover:text-white"
                    >
                        MIUPC
                    </a>
                </div>
                <div class="md:hidden">
                    <button id="mobile-menu-button" class="text-white hover:text-blue-300">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Mobile menu, show/hide based on menu state -->
        <div id="mobile-menu" class="md:hidden hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a href="http://">
                    
                </a>
                href="/miupc"
                class="block px-3 py-2 rounded-md text-base font-medium bg-white text-blue-900 hover:bg-blue-100"
                >
                    MIUPC
                </a>
            </div>
        </div>
    </nav>
</header>

<script>
	const mobileMenuButton = document.getElementById('mobile-menu-button');
	const mobileMenu = document.getElementById('mobile-menu');

	if (mobileMenuButton && mobileMenu) {
		mobileMenuButton.addEventListener('click', () => {
			mobileMenu.classList.toggle('hidden');
		});
	}
</script>