---
import Logo from '@/assets/logolema.png'
import HeaderLink from './HeaderLink.astro'
import { SingleMenu } from './nagivation/SingleMenu';
import { SITE_TITLE, navigation } from '@/const'

const currentPath = Astro.url.pathname;
---

<header>
    <nav class="bg-[#f8f8f8] text-black shadow-lg">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between items-center h-20">
                <div class="flex-shrink-0">
					<img 
						src={Logo.src}
						alt={SITE_TITLE}
						class="h-14 bg-transparent"
					/>
				</div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        {navigation.map((item) => (
                            <HeaderLink href={item.href} currentPath={currentPath} Name={item.name}>
                                {item.name}
                            </HeaderLink>
                        ))}
                    </div>
                </div>
                <div class="hidden md:block">
                    <SingleMenu client:load />
                </div>
                <div class="md:hidden">
                    <button id="mobile-menu-button" class="text-white hover:text-blue-300">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        
    </nav>
</header>