---
// Global imports
import "@/index.css";
import { ClientRouter } from "astro:transitions";
// Local imports
import { SITE_TITLE } from "@/shared/data";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import TopAlert from "@/components/layout/TopAlert.astro";

type Props = {
    title: string;
    description: string;
};

const { title, description }: Props = Astro.props;

let alert = null;

try {
    const res = await fetch(
        "https://upc-api-1-xmr7.onrender.com/upc/v1/notices",
    );
    if (res.ok) {
        const data = await res.json();
        if (data.fijado) {
            alert = data;
        }
    }
} catch (error) {
    console.error("Error obteniendo avisos:", error);
}
---

<!doctype html>
<html lang="es-MX">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${title || SITE_TITLE} | ${SITE_TITLE}`}</title>
        <meta name="title" content={title || SITE_TITLE} />
        <meta name="description" content={description} />
        <!-- Open Graph meta tags -->
        <meta property="og:title" content={title || SITE_TITLE} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={Astro.site} />

        <ClientRouter />
    </head>
    <body class="overflow-x-hidden bg-neutral-50">
        {alert && <TopAlert>{alert.description}</TopAlert>}
        <Header />
        <slot />
        <Footer />
    </body>
</html>
